<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>bnews-school</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/template/admin/js/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexController</servlet-name>
		<servlet-class>controller.AdminIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexController</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexCatController</servlet-name>
		<servlet-class>controller.AdminIndexCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexCatController</servlet-name>
		<url-pattern>/admin/cats</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddCatController</servlet-name>
		<servlet-class>controller.AdminAddCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddCatController</servlet-name>
		<url-pattern>/admin/cats/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDelCatController</servlet-name>
		<servlet-class>controller.AdminDelCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelCatController</servlet-name>
		<url-pattern>/admin/cats/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditCatController</servlet-name>
		<servlet-class>controller.AdminEditCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditCatController</servlet-name>
		<url-pattern>/admin/cats/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexUserController</servlet-name>
		<servlet-class>controller.AdminIndexUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexUserController</servlet-name>
		<url-pattern>/admin/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddUserController</servlet-name>
		<servlet-class>controller.AdminAddUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddUserController</servlet-name>
		<url-pattern>/admin/users/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDelUserController</servlet-name>
		<servlet-class>controller.AdminDelUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelUserController</servlet-name>
		<url-pattern>/admin/users/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditUserController</servlet-name>
		<servlet-class>controller.AdminEditUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditUserController</servlet-name>
		<url-pattern>/admin/users/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminIndexNewsController</servlet-name>
		<servlet-class>controller.AdminIndexNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexNewsController</servlet-name>
		<url-pattern>/admin/news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminAddNewsController</servlet-name>
		<servlet-class>controller.AdminAddNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddNewsController</servlet-name>
		<url-pattern>/admin/news/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminDelNewsController</servlet-name>
		<servlet-class>controller.AdminDelNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelNewsController</servlet-name>
		<url-pattern>/admin/news/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminEditNewsController</servlet-name>
		<servlet-class>controller.AdminEditNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditNewsController</servlet-name>
		<url-pattern>/admin/news/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicIndexController</servlet-name>
		<servlet-class>controller.PublicIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicIndexController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicIndexNewsController</servlet-name>
		<servlet-class>controller.PublicIndexNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicIndexNewsController</servlet-name>
		<url-pattern>/news</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicIndexCatController</servlet-name>
		<servlet-class>controller.PublicIndexCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicIndexCatController</servlet-name>
		<url-pattern>/cats</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublicIndexDetailController</servlet-name>
		<servlet-class>controller.PublicIndexDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicIndexDetailController</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthLoginController</servlet-name>
		<servlet-class>controller.AuthLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthLoginController</servlet-name>
		<url-pattern>/auth/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthLogoutController</servlet-name>
		<servlet-class>controller.AuthLogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthLogoutController</servlet-name>
		<url-pattern>/auth/logout</url-pattern>
	</servlet-mapping>

</web-app>